Source: ros-kilted-jig-cli
Section: misc
Priority: optional
Maintainer: "Alistair English" <hello@alistairenglish.com>
Build-Depends: debhelper (>= 9.0.0), python3-jsonschema <!nocheck>, ros-kilted-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/jig_cli/#kilted
Standards-Version: 3.9.2

Package: ros-kilted-jig-cli
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-yaml, ros-kilted-ros-workspace
Description: CLI tools for jig - declarative ROS 2 node scaffolding.
